
@media  screen and (min-width:601px) {
    
}




@media screen and (max-width: 600px) {
   
    
    *{
        margin: 0;
        padding: 0;
    }
    
    .one {
        background-image: url(./image/pattern.png);
        height: 100vh;
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
        margin: 0px;
    }
    
    .nommer{
        width: 20vw;
        position: absolute;
        left: 20px;
        top: 3%;
    }
    .boxe1 {
        flex-direction: column;
    }
    
    .doc a {
        display: none;
       
        
    }
    .tabs{
        display: inline;
        position: absolute;
        right: -20%;
        
    }
    .vibs img{
        position: absolute;
        left: 58%;
        top: 91%;
        width: 8vw;  
    }

    .deo{
        position: absolute;
        width: 30vw;
        top: 96%;
        left: 10%;
        color: white;
       
    }
    .bloc-gris {
        flex-direction: column;
        width: 60vw;
        margin-top: 100%;
        margin-left: 40px;
        
        
    }
    .cap-one{
        width: 75vw;
        height: 55vw;
        position: absolute;
        left: 15%;
        top: 10%;
    }
    .bloc-gris-one{
        margin-top: 15%;
    }
    .bloc-gris .gold{
        color: #FAB77A;
        font-size: 4vw;
        margin-bottom: 3%;
    }
    .bloc-gris .aliceblue{
        font-size: 8vw;
    }
    .bloc-gris .alice{
        font-size: 4vw;
    }
    
    .bloc-gris button{
        padding: 3%;
        height: 4vh;
        color: white;
        border-radius: 6%;
    }
    .bloc-gris .cap{
        height: 70vh;
        
    }
    .boxe3 {
        display: none;
    }
    
    .boxe3 .social {
    display: none;
    }
    
    
    .boxe3 .social .icon{
        display: none;
    }
    .neige{
        position: absolute;
        right: 15%;
        top: 4%;
        width: 40%;
     }
     
     .neige a{
         color: white;
         font-size: 85%;
     }
     .neige a img{
        position:absolute;
        right: 20%;
        top: 7%;
     }
     .neige .dev{
         display: none;
     }
     
     .img {
         position: absolute;
         left: 30px;
     }
     
     
     .neige button {
         color: white;
         border-radius: 10%;
         height: 3vh;
         width: 5vw;
         background: transparent;
         border-color: white;
         margin-top: 10px;
     
     }
    .container{
        flex-direction: column;
    }
    .image{
        position: absolute;
        top: 10%;
        left: -10%;
    }
    .image-one{
        height: 70vw;
         margin-top: 5%;
         position: absolute;
          left: -40px;
    }
    
    .bloc-noir{
        height: 42vh;
        width: 60vw;
        background-color: #ECEDF3;
        border-radius: 5%;
        position: absolute;
        left: 15%;
        top: 110%;
    }
    .code img{
    right: 3vw;
    }
    .cloner{
        margin-left: 10%;
        width: 80vw;
        
    }
    .paragraphe-one{
        color: #FAB77A;
        font-size: 3vw;
        margin-bottom: 3%;
    }
    .paragraphe-too{
        font-size: 9vw ;
        width: 70vw;
    }
    .paragraphe{
        width: 64vw;
        margin-top: 15%;
    }
    .texto{
        margin-left: -50px;
        margin-bottom: 5%;
        font-size: 15px;
        align-items: center;
        
    }

    .codage{
        display: flex;
        justify-content: space-around;
        margin-top: 10%;
        align-items: center;
        
    }
    .titres{
        color: #FAB77A;
        font-size: 2vw;
        margin-left: 10px;
    
    }
    .exerce{
        font-size: 5vw;
    }
    .text{
        margin-left: -25%;
        
    }
    .bloc-text{
        margin-left: -8%;
    }
    .rade{
        display: flex;
        justify-content: space-around;
        margin-top: 15%;
        align-items: center;
        flex-direction: row;
    }
    .bloc-rose{
        height: 40vh;
        width: 15%;
        background-color: #ECEDF3;
        border-radius: 5%;
        margin-left: 10%;
        margin-top: 2%;
    }
    
   
}



@media screen and (max-width: 409px) {
    

    *{
        margin: 0;
        padding: 0;
    }
    
    .one {
        background-image: url(./image/pattern.png);
        height: 90vh;
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
        margin: 0px;
    }
    
    .nommer{
        width: 20vw;
        position: absolute;
        left: 20px;
        top: 4%;
    }
    .boxe1 {
        flex-direction: column;
    }
    
    .doc a {
        display: none;
       
        
    }
    .tabs{
        display: inline;
        position: absolute;
        right: -20%;
        
    }
    .vibs img{
        position: absolute;
        left: 55%;
        margin-top: -70px;
        width: 8vw;  
    }

    .deo{
        position: absolute;
        width: 30vw;
        top: 86%;
        left: 7%;
        color: white;       
    }
    .bloc-gris {
        flex-direction: column;
        width: 60vw;
        margin-top: 75%;
        margin-left: 40px;
        
    }
    
    
    .coll {
        background-color: deeppink ;
        border-color: deeppink;
        width: 50%;
        height: 4vh;
        font-size: 55%;
        margin-top: 10%;
    }
    .container{
        margin-top: 100%;
         flex-direction: column-reverse;
    } 
    .cloner{
        margin-top: 30%;
    } 
    .image-one{
       position: absolute;
       margin-left: -90px;
       top: -35px;
       width: 400px;
       height: 30vh;
      
       
    }
    .bloc-noir{
        background: rgb(146, 144, 144);
        margin-top: -10%;
        margin-left: -10px;
    }
    .codage{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 50vw;
        margin-left: 25px;
        
    }
    .titres{
        color: #FAB77A;
        font-size: 4vw;
        width: 70vw;
        margin-left: 100px;
    
    }
    .exerce{
        font-size: 8vw;
        margin-top: 10px;
        margin-left: 100px;
    }
    .text{
        margin-left: 45%;
        width: 70vw;
        margin-top: 10px;
    }
    .bloc-text{
        margin-left: -8%;
    }
    .rade{
        flex-direction: column;
        justify-content: space-around;
        margin-top: 15%;
        align-items: center;
        margin-left: -20px;
        
    }
    .bloc-rose{
        height: 40vh;
        width: 15%;
        background-color: #ECEDF3;
        border-radius: 5%;
        margin-left: 10%;
        margin-top: 2%;
    }
    .judas{
        display: flex;
        justify-content: space-around;
        margin-left: 10%;
        margin-top: 3%;
        align-items: center;
        width: 80%;
    }
    .juda {
        flex-direction: column;
        margin-left: 10%;
        margin-top: 10%;
        margin-left: -100px;
        justify-content: center;
        align-items: center;
        width: 90%;
        
    }
    .juda .jado {
        width: 5%;
        justify-content: center;
    }
    .judas {
       flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 80px;
        margin-top: -730px;
    }
    
    .jour {
        width: 20%;
        
    }
    .jour h3{
        font-size: 4vw;
    }
    .lorem{
        width: 200px;
        color: lightslategray;
        line-height: 30px;
        
    }
    .lorems{
        width: 150px;
        color: lightslategray;
        line-height: 30px;
        margin-left: 2px;
        
    }
    
    .juda .vase {
        text-align: justify;
        width: 10%;
        margin-right: 17%;
    }
    .pure{
       flex-direction: column;
        justify-content: space-around;
        background: #ECEDF3;
        border-radius: 10px;
        height: 270vh;
        width: 97vw;
        align-items: flex-start;
    }
    .puce{
        margin-bottom: 67%;
        width: 90vw;  
        justify-content: center;
    }
    .puce-one{
        margin-left: 10%;
        margin-top: -260%;
    }
    .puce-too{
        font-size: 20px;
        width: 80vw;
        margin-top: 10px;
    }
    .bloc-vert{
       margin-top: -2500px;
    }
    .bloc-video{
        height: 50vh;
        width: 70vw;
        background-color: rgba(124, 124, 124, 0.815);
        border-radius: 5%;
        margin-left: 15%;
    }
    video{
        border-radius: 5%;
        margin-left:-10%;
        width: 60vw;
        height: 50vh;
        margin-top: -50px;
    }
    .mot{
        margin-top: -12%;
        margin-left: 5%;
    }
    .moto{
        margin-top: -12%;
        margin-left: -8%;
    }
    .toto{
        position: absolute;
        margin-left: 8%;
        margin-top: -13%;
    }
    .bloc-text-one{
        position: relative;
    }
    .text-one{
        line-height: 30px;
    }
    .puc {
        position: absolute;
        margin-top: -800px;
        left: 30px;
        width: 500px
        
    }
    .seo{
        margin-top: 50px;
        margin-left: -250px;
    }
    .carousel-parent{
        width: 99vw;
        height: 30vh;
    }
    .fini {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 55vw;
        margin-left: 80px;
        margin-top: -13%;
        position: relative;
    }
    .fad{
        left: 100px;
        position: absolute;
        top: -50px;
    }
    
    .faz{
        position: absolute;
        top: -70px;
        left: -70px;
    }
    
    .faq{
        position: absolute;
        top: -180px;
        left: 100px;
    }
    
    .fak{
        position: absolute;
        left: -70px;
        top: -190px;
    }
    
    .total{
        margin-top: 50%;
        margin-left: 7%;
    }
    .bloc-mini{
        height: 14%;
        width: 22%;
        border-radius: 5%;
        background-color: white;
        position: absolute;
        margin-top: 9%;
        margin-left: -5%;
        box-shadow: #ECEDF3;
        border: solid 1px #faf6f8;
    }   
    .total-gabon{
        position: absolute;
        margin-top: 15%;
        left: 5px;
        width: 50px;
        
    }
    .photo{
        width: 250px ;
    }
    .marketing{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .market{
        margin-top: 90px;
        margin-left: 40px;
        
    }
    .market h3{
        margin-top: -400px;
        left: 70px;
        position: absolute;
        font-size: 15px;
    }
    .market-one{
        height: 30px;
        width: 50vw;
        font-size: 25px;
    }
    .market p{
        margin-top: 30px;
        width: 60vw;
    }
    
    .number{
        margin-top: 100px;
        margin-left: -50px;
    }
    .bloc-gray{
        margin-top: 250%;
        margin-left: 20%;
    }
    .gray{
        background-color:#EAE8E8;
        height: 40vh;
        width: 80vw;
        border-radius: 15px;
    }
    .abonner{
        position: relative;
        margin-top: -200px;
    }
    .text-5{
       position: absolute;
       top: -20%;
       margin-left: 3%;
       font-size: 6vw;
    }
    .text-3{
        position: absolute;
        top: 10px;
        margin-left: 3%;
        font-size: 12px;
        width: 70vw;
    }
    .bloc-blanc{
        display: flex;
        margin-left: 8%;
        position: relative;
        margin-top: 32%;
    }
    .blanche{
        background-color: whitesmoke;
        height: 8vh;
        width: 70vw;
        margin-left: 15%;
        border-radius: 10px;
        position: absolute;
        margin-top:-27%;
    }
    .orange{
        background-color: orange;
        height: 8vh;
        width: 70vw;
        border-radius: 10px;
        left: 15%;
        position: absolute;
        margin-top: -7%;
        
    }
    .bloc-7{
       display: none;
    }
    .sept{
        display: none;
    }
    .huit{
        display: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    }
    .footer {
        background-image: url("./image/pattern.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 190vh;
        width: 100vw;
        flex-direction: column;
        color: white;
        margin-top: 200px;
        
    }
    .footer .miss {
        background-color: white;
        height: 100vh;
        width: 80vw;
        margin-left: 10%;
        margin-top: 3%;
        border-radius: 3%;
        display: flex;
        justify-content: space-around;
        
    }
    .formulaire{
        flex-direction: column;
    }
    
    .miss .dad {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 17%;
        margin-left: 100px;
        width: 20vw;
    }
    .footer .boxe1 .ones{
        flex-basis: 20%;
        width: 70vw;
        margin-left: -80px;
    }
    
    .ones p {
        margin-top: 5%;
        line-height: 30px;
        margin-left: -49px;
    }
    .footer .boxe1 .two ul {
        margin-top: 20%;
        list-style: none;
        line-height: 30px;
        margin-left: -140px;
    }
    .footer .boxe1 .three ul {
        margin-top: 20%;
        list-style: none;
        line-height: 30px;
        margin-left: -140px;
    }
    
    .footer .boxe1 .social2 {
        color: whitesmoke;
        display: flex;
        justify-content: space-between;
        flex-basis: 12%;
        height: 7vh;
        margin-top: -5rem;
        margin-left: 30px;
    }
    
    .footer .boxe1 .social2 span{
        position: relative;
        background-color: rgba(14, 13, 13, 0.247);
        display: flex;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        margin-left: 1.1%;
    }
    .boxe1{
        margin-top: 5%;
    }
    
     .icon{
        font-size: 23px;
        position: absolute;
        top: 29%;
        left: 10%;
    }
    .service{
        color: orange;
    }
    
}